/*----------------------------------
Big screen table 
----------------------------------*/
@media only screen and (max-width: 1200px){
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
  
}
/*----------------------------------
Small tablet 768px to 1024px 
----------------------------------*/
@media only screen and (max-width: 1023px){
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .works-steps {
    margin-bottom: 40px;
  }
  .app-screen {
    width: 50%;
  }
  .works-step div {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 2px;
    float: left;
    font-size: 1.5em;
    margin-right: 25px;
  }
  .btn-app img {
    height: 30px;
    width: auto;
    margin-right: 10px;
  }
  .small-icon {
    width: 16px;
    margin-right: 5px;
  }
  .cities-box {
    font-size: 0.75em;
  }
  #month {
    font-size: 0.8em;
  }
  #money {
    font-size: 2em;
  }
  .plan-header p, 
  .plan-features {
    font-size: 0.8em;
  }
  input[type="submit"]{
    width: 30%;
  }
/*----------------------------------
Small phone 481px to 767px 
----------------------------------*/
@media only screen and (max-width: 767px){
  body {
    font-size: 16px;
  }
  section {
    padding: 0 30;
  }
  row, hero-text-box {
    padding: 0 4%;
  }
  .col {
    width: 100%;
  }
  nav {
    display: none;
  }
  nav {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
  }
  nav li {
    display: block;
    border: 0;
    padding: 5px 0;
    font-size: 1.1em;
  }
  .mobile-nav-icon {
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
  }
  .row > a:hover {
    border-bottom: 1px solid transparent;
  }
  .sticky nav li {
    display: block;
    border: 0;
    padding: 5px 0;
    font-size: 1.1em
  }
  .sticky nav {
    float: left;
  }
  .sticky .mobile-nav-icon i {
    color: #555;
  }
  .long-copy {
    width: 80%;
    margin-bottom: 10px;
  }
  .steps-box {
    margin-top: 10px;
  }
  .steps-box:first-child {
    text-align: center;
  }
  .app-screen {
    width: 40%;
  }
  .cities-box img {
    width: 95%;
  }
  cite {
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .plan-box:first-child {
    margin-left: 2%;
  }
  label {
    width: 50%;
    margin-left: 10%;
  }
  input, select, textarea {
    width: 70%;
  }
  .footer-nav, 
  .social-icons {
    text-align: left;
    width: 100%;
    font-size: 1em;
    margin-bottom: 5px;
  }
  .footer-nav li,
  .social-icons li {
    padding-right: 10px;
  }
}

/*----------------------------------
Small phone 0 to 480px 
----------------------------------*/
@media only screen and (max-width: 480px){
  section {
    padding: 25px 0;
  }
  input, select, textarea {
    width: 90%;
  }
}

