/**********************************************
The Basic Setup
***********************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**********************************************
The Reuse Components
***********************************************/
html {
  background-color: #fff;
  color: #4b4a4a;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
.box {
  text-align: left;
  padding: 1%;
}
section {
  padding: 80px 0;
}
h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
} 
h1 {
  margin-top: 0;
  color: #fff;
  font-size: 2em;
  word-spacing: 1px;
  letter-spacing: 4px;
}
h2 {
  font-size: 1.6em;
  word-spacing: 3px;
}
h2::after {
  display: block;
  content: "";
  margin: 20px auto;
  width: 100px;
  height: 2px;
  background-color: #e67e22
}
h3 {
  font-size: 1.2em;
  margin-top: 20px;
}
/**********************************************
The Clear Fix Component
***********************************************/
.clear-fix::after {
  display: block;
  content: "";
  clear: both;
}
/**********************************************
The Header Style 
***********************************************/
header {
  background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
/**********************************************
The Logo
***********************************************/
.logo {
  float: left;
  height: 100px;
  width: auto;
  margin-top: 20px;
  
}
/**********************************************
The Link Style
***********************************************/
a:link,
a:visited {
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s;

}

a:hover,
a:active {
  border-bottom: 3px solid #cf6d17;
}
/**********************************************
The Navigation Style
***********************************************/
nav {
  float: right;
  font-weight: 300;
  font-size: 0.9em;
  text-transform: uppercase;
  margin-top: 60px;
  
  
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
  margin-right: 20px;
}

/**********************************************
The Button Style 
***********************************************/
.btn:link,
.btn:visited,
input[type="submit"]
{
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  margin-right: 14px;
  
}

.btn-full:link,
.btn-full:visited,
input[type="submit"]{
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited{
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover{
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover{
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
  border: 1px solid #cf6d17;
  color: #fff;
}
/**********************************************
The Icon Style 
***********************************************/
.big-icon {
  font-size: 3em;
  color: #e67e22;
}
/**********************************************
The Section Feature
***********************************************/
.section-features {
  text-align: center;
}

.section-features p {
  font-size: 1.em;
  line-height: 1.4;
}
.long-copy {
  width: 65%;
  margin: 0 auto;
  line-height: 1.4;
}
.section-features .long-copy {
  margin-bottom: 40px;
}
/**********************************************
The Section Meals
***********************************************/
.section-meals {
  padding: 0;
}
.meals-showcases {
  width: 100%;
  list-style: none;
}
.meals-showcases li {
  display: block;
  float: left;
  width: 25%;
}
.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
    opacity: 1;
  transform: scale(1)
}
/**********************************************
The Section How it works
***********************************************/
.section-steps {
  text-align: center;
  background-color: #f4f4f4;
  
}

.steps-box {
  margin-top: 30px;
}
.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
}
.steps-box:last-child {
  padding-left: 3%;
  text-align: left;
}
.app-screen {
  width: 40%;
}
.works-step:last-of-tye {
  margin-bottom: 80px;
}
.works-step {
  margin-top: 50px;
  margin-bottom: 50px;
}
.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 1.5em;
  margin-right: 25px;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
/**********************************************
The Section Cities
***********************************************/
.section-cities {
  text-align: center;
}
.cities-box {
  text-align: left;
  width: 20%;
  margin: 2.5%;
}
.cities-box:first-child {
  margin-left: 2%;
}
.cities-box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.cities-box a {
  color: #e67e22;
}
.small-icon {
  display: inline-block;
  width: 30px;
  color: #e67e22;
  margin-right: 5px;
  line-height: 1.2;
  vertical-align: middle;
  margin-top: -5px;
}
/**********************************************
The Section Testimonials
***********************************************/
.section-testimonials {
  text-align: center;
  background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../img/back-customers-min.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #d6d0d0;
}
blockquote {
  position: relative;
}
blockquote p::before {
  content: "\201C";
  font-size: 4em;
  display: block;
  position: absolute;
  top: -50px;
  left: -10px;

}
blockquote p {
  text-align: left;
  line-height: 1.6;
}
cite {
  display: block;
  float: left;
  margin-top: 50px;
}
cite img {
  display: inline-block;
  width: 50px;
  height: auto;
  border-radius: 50%;
  vertical-align: middle;
}
/**********************************************
The Section Plan
***********************************************/
.section-plan {
  text-align: center;
  background-color: #cecccc;
}
.plan-box {
  width: 25%;
  margin: 0 2%;
  border: 1px solid #9d9d9d;
}
.plan-box:first-child {
  margin-left: 8%;
}
.plan-header {
  background-color: #efe9e9;
  border-bottom: 1px solid #9d9d9d;
  text-align: left;
  line-height: 1.5;
  padding-left: 5px;
}
.plan-header h3 {
  margin-top: 0;
}
#month {
  font-size: 1em;
  color: #e67e22;
}
#money {
  color: #e67e22;
  font-size: 3em;
}
.plan-features {
  text-align: left;
}
.plan-features ul {
  list-style: none;
  line-height: 2;
  margin-bottom: 20px;
  border-bottom: 1px solid #9d9d9d;
}
.plan-features i {
  color: #e67e22;
  margin-right: 10px;
}
.section-plan a {
  margin-bottom: 15px
}
/**********************************************
The Section Form
***********************************************/
.section-form {
  text-align: center;
}
form {
  text-align: left;
}
label {
  display: inline-block;
  width: 50%;
  margin-left: 70%;
}
input, select, textarea {
  display: inline-block;
  width: 50%;
  margin-left: 10%;
}
input[type="checkbox"]{
  width: 3%;
}
textarea {
  height: 200px;
}
input[type="submit"]{
  width: 20%;
}
/**********************************************
The Section Footer
***********************************************/
footer {
  background-color: #1a1a1a;
}
.footer-nav {
  text-align: left;
  list-style: none;
  width: 100%
} 
.footer-nav li {
  display: inline-block;
  padding-right: 20px;
}
.social-icons {
  list-style: none;
  text-align: right;
  width: 100%;
}
.social-icons li {
  display: inline-block;
  padding-right: 20px;
}
footer p {
  padding-top: 30px;
  text-align: center;
}